<div ng-app="myHome" ng-controller="HomePageCtrl">
    <div class="panel panel-default">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Online Digital Store</h4>                
            </div>
        </div>
        <div class="panel-body">            
                <div class="row">
                    <div id="sidenav" class="col-md-2">                           
                        <p id="Search">Search : <input type="text" placeholder="Search city & name" ng-model="searchText" /></p>                        
                        <p></p>
                        <p><input type="checkbox" ng-model="Below20K"/> Below 20K</p>
                        <p><input type="checkbox" ng-model="Between2030K"/> 20-30K</p>
                        <p><input type="checkbox" ng-model="Between3040K"/> 30-40K</p>
                        <p><input type="checkbox" ng-model="Above40K"/> Above 40K</p>
                    </div>                    
                    <div id="Sort">
                        <p>
                            <select ng-model="sortColumn">
                                <option value="" selected disabled>Sort By</option>
                                <option value="name">Name</option>
                                <option value="+cost">Price Low to High</option>
                                <option value="-cost">Price High to Low</option>
                                <option value="-rating">Rating</option>
                            </select>
                        </p>
                    </div>  
                    <div id="itemname">
                        <p>Mobile Phones: <span>{{count}}</span></p>
                    </div>
                    <div id="Products" class="col-md-5" ng-repeat="item in products|filter:search|filter:priceFilter|orderBy:sortColumn">
                        <div>
                            <p>
                                <a ui-sref="ProductDetails({name:item.name})">
                                   <img ng-src="{{item.image}}"/>
                                </a>
                            </p>
                            <p><span></span>Name: {{item.name}}</p>
                            <p><span></span>Price: {{item.cost|currency:"INR "}}</p><p><span></span>Rating: {{item.rating}}</p>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="panel-footer">Copyright © 2016 Your Company</div>
    </div>
   

